version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: proyecto3_app
    ports:
      - "8080:8000"
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:14
    container_name: proyecto3_database
    ports:
      - "5432:${DB_PORT}"
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  pgdata: